:root {
  --text-color-priority: #212121;
  --secondary-color-priority: #757575;
  --active-elements-color: #2196f3;
  --background-color-site: #2f303a;
  --secondary-text-color: #ffffff;
  --background-btn-color: #188ce8;
  --portfolio-btn-color: #f5f4fa;
  --contact-link-color: rgba(255, 255, 255, 0.6);
  --link-logo-color: #000000;
  --border-color: #ececec;
  --border-block-color: #eeeeee;
  --social-link-icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color-priority);
  background-color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.header {
  border-bottom: 1px solid var(--border-color);
}
.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--link-logo-color);
  display: block;
  margin-right: 90px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.logo {
  color: var(--active-elements-color);
}
.logo:hover, .logo:focus {
  color: var(--active-elements-color);
}

.navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}
.site-nav__item {
  position: relative;
}
.site-nav__link {
  color: var(--text-color-priority);
  font-weight: 500;
  line-height: 1.15;
  padding: 32px 0;
  display: block;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--active-elements-color);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-left: 0;
}
.contact__item {
  margin-right: 50px;
}
.contact__item:last-child {
  margin-right: 0;
}
.contact__nav {
  color: var(--secondary-color-priority);
  fill: currentColor;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contact__icon {
  margin-right: 10px;
}
.contact__nav:hover, .contact__nav:focus {
  color: var(--active-elements-color);
}

.current {
  color: var(--active-elements-color);
}
.current::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--active-elements-color);
  border-radius: 2px;
}

.hero {
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./img/Img.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./img/Img.jpg);
  background-color: var(--background-color-site);
}
.hero__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  max-width: 696px;
  margin-bottom: 30px;
}
.hero__btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--active-elements-color);
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  display: block;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--background-btn-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.text-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-title {
  font-weight: 700;
  line-height: 1.15;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.feature-list {
  margin-right: 30px;
}
.feature-list:nth-child(4) {
  margin-right: 0px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.bgc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--portfolio-btn-color);
}

.text {
  line-height: 1.7;
  color: var(--secondary-color-priority);
}

.product {
  padding-top: 0;
}
.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product__item {
  margin-right: 30px;
  position: relative;
}
.product__item:nth-child(3) {
  margin-right: 0;
}
.product__description {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.team {
  background-color: var(--portfolio-btn-color);
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team__item {
  margin-right: 30px;
  background-color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:nth-child(4n) {
  margin-right: 0;
}

.employees {
  margin: 0 0 30px 0;
}
.employees__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social {
  margin-right: 10px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: currentColor;
  color: var(--social-link-icon-color);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--active-elements-color);
  color: var(--secondary-text-color);
}

.button-icon {
  width: 20px;
  height: 20px;
}

.photo-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.text-photo {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color-priority);
  margin-bottom: 16px;
  text-align: center;
}

.client-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--social-link-icon-color);
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--social-link-icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--social-link-icon-color);
  fill: currentColor;
  -webkit-transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
}
.client-link:hover, .client-link:focus {
  border: 1px solid var(--active-elements-color);
  color: var(--active-elements-color);
}

.client-list {
  margin-right: 30px;
}
.client-list:nth-child(6) {
  margin-right: 0;
}

.client-icon {
  display: inline-block;
}

.footer-section {
  background-color: var(--background-color-site);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.footer-logo:hover, .footer-logo:focus {
  color: var(--active-elements-color);
}

.address-link {
  font-style: normal;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

.contact-link {
  font-style: normal;
  line-height: 1.7;
  color: var(--contact-link-color);
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  margin-bottom: 10px;
}

.footer-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-logolist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--secondary-text-color);
  fill: currentColor;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.footer-link:hover, .footer-link:focus {
  background-color: var(--active-elements-color);
}

.footer-social {
  margin-right: 10px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

.link-wrapp {
  margin-left: 70px;
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.wrapp-form {
  margin-left: auto;
}

.footer-email-form {
  color: var(--secondary-text-color);
  padding: 15px 0 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 360px;
  height: 50px;
  margin-right: 10px;
  background-color: var(--background-color-site);
}

.subscribe-btn {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  fill: currentColor;
  color: var(--secondary-text-color);
  background-color: var(--active-elements-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  border-radius: 4px;
  border: 0;
  padding: 10px 0px;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: var(--background-btn-color);
}

.send-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.send-icon {
  display: block;
  margin-left: 10px;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.btn-item {
  margin-left: 10px;
}
.btn-item:first-child {
  margin-left: 0;
}

.hero-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  color: var(--text-color-priority);
  background-color: var(--portfolio-btn-color);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.hero-btn:hover, .hero-btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--secondary-text-color);
  background-color: var(--active-elements-color);
}

.list-container {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-block-color);
  border-right: 1px solid var(--border-block-color);
  border-left: 1px solid var(--border-block-color);
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}
.project-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.project-item:hover .project-details {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.project-item:hover, .project-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
}

.project-link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.project-wrap-details {
  position: relative;
  overflow: hidden;
}

.project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-color-priority);
}

.list-text {
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-color-priority);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10px;
  top: 10px;
  fill: currentColor;
  color: var(--link-logo-color);
  background-color: var(--secondary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.close-btn:hover, .close-btn:focus {
  color: var(--active-elements-color);
}

.close-icon {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--text-color-priority);
}

.form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-list:nth-child(4) {
  margin-bottom: 0px;
}
.form-list:focus-within {
  color: var(--active-elements-color);
}

.textarea {
  width: 100%;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px 15px;
  outline: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.textarea:focus {
  border-color: var(--active-elements-color);
}
.textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.info-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 40px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.info-form:focus {
  border-color: var(--active-elements-color);
}

.label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color-priority);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color-priority);
}

.checkbox-btn {
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox-btn a {
  margin-left: 5px;
}

.icon-contact-info {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logo-position {
  position: relative;
  fill: currentColor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.btn-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contract-link {
  color: var(--active-elements-color);
  text-decoration: underline;
}

.checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color-priority);
  border-radius: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--secondary-text-color);
  fill: currentColor;
  margin-right: 10px;
}
.checkbox svg {
  height: 15px;
  width: 16px;
}

.checkbox-btn input:checked + label .checkbox {
  background-color: var(--active-elements-color);
  border: 2px solid var(--active-elements-color);
}/*# sourceMappingURL=mian.css.map */