.client-item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: var(--social-link-icon-color);
}
.client-link {
    display: flex;
    border: 1px solid var(--social-link-icon-color);
    border-radius: 4px;
    height: 92px;
    align-items: center;
    justify-content: center;
    gap:30px;
    color: var(--social-link-icon-color);
    fill: currentColor;
    transition: border 250ms var(--timing-function), color 250ms var(--timing-function);


&:hover,
&:focus {
    border: 1px solid var(--active-elements-color);
    color: var(--active-elements-color);
    }
}

.client-list {
flex-basis: calc((100% - 30px) / 2);  

@media screen and (min-width:768px) {
flex-basis: calc((100% - 60px) / 3);
}
@media screen and (min-width:1200px) {
    flex-basis: calc((100% - 150px) / 6);
}

}
