.footer-section {
    background-color: var(--background-color-site);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    transition: color 250ms var(--timing-function);


&:hover,
&:focus {
    color: var(--active-elements-color);
}
}

.address-link {
    font-style: normal;
    line-height: 1.7;
    color: var(--secondary-text-color);
}

.contact-link {
    font-style: normal;
    line-height: 1.7;
    color: var(--contact-link-color);
}

.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list {
    margin-bottom: 10px;
}

.footer-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.footer-logolist {
    display: flex;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--secondary-text-color);
    fill: currentColor;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);


&:hover,
&:focus {
    background-color: var(--active-elements-color);
}
}
.footer-social {
    margin-right: 10px;
}

.footer-icon {
    width: 20px;
    height: 20px;
}

.link-wrapp {
    margin-left: 70px;
}

.footer-form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.wrapp-form {
    margin-left: auto;
}

.footer-email-form {
    color: var(--secondary-text-color);
    padding: 15px 0 15px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 360px;
    height: 50px;
    margin-right: 10px;
    background-color: var(--background-color-site);
}

.subscribe-btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    fill: currentColor;
    color: var(--secondary-text-color);
    background-color: var(--active-elements-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 4px;
    border: 0;
    padding: 10px 0px;
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);


&:hover,
&:focus {
    background-color: var(--background-btn-color);
}
}

.send-email {
    display: flex;
}

.send-icon {
    display: block;
    margin-left: 10px;
}