.hero {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 400px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(./image/index-img/mobile/hero-img/header-img.jpg);
    background-color: var(--background-color-site);

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(./image/index-img/mobile/hero-img/header-img-x2.jpg);
        }

    @media screen and (min-width:768px) {
        max-width: 768px;  
        background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(./image/index-img/tablet/hero-img/header-img.jpg);      }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(./image/index-img/tablet/hero-img/header-img-x2.jpg);
                        }
        
    @media screen and (min-width:1200px) {
        height: 600px;
        max-width: 1600px;
        background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(./image/index-img/desktop/hero-img/hero-img.jpg);
        }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(./image/index-img/desktop/hero-img/hero-img-x2.jpg);
            }

&__wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

&__title {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    max-width: 360px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

&__btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    background-color: var(--active-elements-color);
    border-radius: 4px;
    border: 0;
    padding: 10px 24px;
    display: block;
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
@media screen and (min-width:1200px) {
    padding: 10px 32px;
    }
}

&__btn:hover,
&__btn:focus {
    background-color: var(--background-btn-color);
}}
