.team {
    background-color: var(--portfolio-btn-color);

&__list {
    display: flex;
    flex-wrap: wrap;
}

&__photo{
    width:450px;
    height: 460px;

@media screen and (min-width:768px) {
    width: 354px;
    height: 374px;
}
    
@media screen and (min-width:1200px) {
    width: 270px;
    height: 260px;
}
}

&__item {
    background-color: var(--secondary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;

@media screen and (min-width:768px) {
    margin-right: 30px;
}
        
@media screen and (min-width:1200px) {
    margin-bottom: 0;
}
}}



@media screen and (max-width:767px) {
    .team__item:nth-child(4n) {
        margin-bottom: 0;
    }
}
@media screen and (min-width:768px) {
    .team__item:nth-child(2n) {
        margin-right: 0;
    }
    .team__item:nth-child(3n) {
        margin-bottom: 0;
    }
    .team__item:nth-child(4n) {
        margin-right: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width:1200px) {
.team__item:nth-child(2n) {
    margin-right: 30px;
}
.team__item:nth-child(4n) {
    margin-right: 0;
}
}


.employees {
    margin-bottom: 24px;
@media screen and (min-width:1200px) {
    margin-bottom: 30px;
}

&__list {
    display: flex;
    justify-content: center;

}
}
.social {
    margin-right: 10px;

&__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: currentColor;
    color: var(--social-link-icon-color);
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
&__link:hover,
&__link:focus {
    background-color: var(--active-elements-color);
    color: var(--secondary-text-color);
}
}

.button-icon {
    width: 20px;
    height: 20px;
}

.photo-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.text-photo {
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-color-priority);
    margin-bottom: 16px;
    text-align: center;
}